.container {
  margin-top: 100px;
  margin-left: 320px;
  padding: 100px;
  width: 500px;
  height: 100px;
  background-color: #0436fcb9;
  font-size: 25px;
  border-radius: 10px;
}
button {
  background-color: #5b04fc;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-left: 420px;
}
h1 {
  position:absolute;
  left: 50%;
  top: 1%;
  text-align: center;
  background: #0436fcb9;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
h2{
  margin-top: 90px;
  margin-left: 280px;
}
